<%- include("partials/header.ejs") %>

    <div class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="hero_head"> Food so good, it'll make you sing.</h1>
                    <div class="row head_button">
                        <div class="col-lg-6">
                            <a href="/menu"><button type="button" class="btn btn-warning">Menu</button></a>
                        </div>
                        <div class="col-lg-6">
                            <a href="/contact"><button type="button" class="btn btn-warning">Book a Table</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container second_section">
        <div class="row row-shadow">
            <div class="col-sm-4 text-center">
                <img src="img\24-hours-support.gif" width="150px" alt="">
            </div>
            <div class="col-sm-4 text-center">
                <img src="img\door.gif" width="150px" alt="">
            </div>
            <div class="col-sm-4 text-center">
                <img src="img\package.gif" width="150px" alt="">
            </div>
        </div>


    </div>

    <div class="menu container">
        <h1 class="menu_heading">
            Menu
        </h1>
    </div>

    <%- include("partials/footer.ejs") %>